body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.pfp{
    width: 260px;
    margin-bottom: 40px;
}

h1{
    color: rgb(11, 135, 237);
    font-weight: bold;
}

.linija{
    border-left: 4px solid rgb(11, 135, 237);
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 3;
}

.container{
    background-color: white;
    border: 1px solid rgb(11, 135, 237);
    width: 1400px;
    height: max-content;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 20px;
    padding: 50px;
}

.left{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
    margin-right: 190px;
    padding: 40px;
    margin-left: 120px;
}

.right{
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content:flex-end;

}

form{
    display: flex;
    flex-direction: column;
    font-size: 22pt;
    margin-top: 40px;
}

input:not([type=file]){
    float: right;
    background-color: white;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 17pt;
    text-align: center;
    padding: 10px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

input:focus{
    outline: rgb(11, 135, 237);
}

input[type=file]{
    display: none;
}

#openModal{
    background-color: rgb(11, 135, 237);
    color: white;
    cursor: pointer;
    font-size: 18pt;
    width: max-content;
    margin-left: 250px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    padding: 10px;
}

input[type=submit]{
    background-color: rgb(11, 135, 237);
    color: white;
    cursor: pointer;
    font-size: 25pt;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 30px;
    margin-bottom: 0px;
    margin-right: 120px;
}
button:hover{
    background-color: rgb(10, 112, 196);
    color: white;
    cursor: pointer;
}

label{
    margin-bottom: 30px;
    text-align: left;
    padding-left: 40px;
    color: rgb(11, 135, 237);
    font-weight: bold;
}

.is-invalid {            
    border: 1px solid rgb(255, 0, 0); 
    border-radius: 10px;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e51c23;
}

.modal{
    display: var(--display);
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(228, 228, 228, 0.774);
}

.modalContent{
    display: flex;
    flex-direction: column;
    width: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 20px;
    padding: 30px;
    font-size: 18pt;
}

#close{
    text-align: right;
    padding: 30px 0px;
    cursor: pointer;
    transition: 0.3s;
}

#close2{
    background-color: rgb(11, 135, 237);
    color: white;
    cursor: pointer;
    font-size: 18pt;
    width: 200px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
