body{
    margin: 0;
    padding: 0;
    position: fixed;
}

a{
    text-decoration: none;
}
 
.chat img{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(11, 135, 237);
    border-radius: 100%;
}

.messages{
    padding: 200px 100px 100px 150px;
    width: 2000px;
}

h2 , i , h3{
    display: inline;
    vertical-align:middle;
    padding-left: 10px;
}

h1{
    border-bottom: 2px solid gray;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0px 50px 0px 50px;
}

.chat-header{
    position: fixed;
    width:100%;
}

.chat{
    background-color: rgba(224, 223, 223, 0.733);
    width: 100%;
    height: 1000px;
    padding-top: 5px;
    overflow-y: scroll;
}

.date-header{
    text-align: center;
    font-size: 18pt;
    color: rgb(11, 135, 237);
    margin-left: -120px;
}

.seen-indicator{
    color: black;
}

.scroll-indicator{
    margin-right: 1000px;
    margin-bottom: 600px;
    display: block;
    position: absolute;
    left: 1600px;
    top: 780px;
}

.username{
    text-align: center;
    border-bottom: 2px solid rgb(11, 135, 237);
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 10px;
    background-color: rgb(247, 247, 247);
    margin: 10px auto 0px auto;
    color: rgb(11, 135, 237);
}

.in-msg-content{
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    word-wrap: break-word;
    height: max-content;
    margin: 20px;
    padding: 10px;
    border-radius: 20px 30px 30px 5px;
    display: inline-block;
    font-size: 18pt;
}

.out-msg-content{
    float: right;
    background-color: rgb(11, 135, 237);
    color: white;
    max-width: 50%;
    word-wrap: break-word;
    height: max-content;
    margin: 20px;
    padding: 10px;
    text-align: right;
    border-radius: 30px 20px 5px 30px;
    font-size: 18pt;
    min-width: none;
}

.outgoing-message{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 20px;
}

.incoming-message{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 20px;
    max-width: 50%;
    word-wrap: break-word;
    height: max-content;
    margin: 20px;
    padding: 10px;
    border-radius: 20px 30px 30px 20px;
    font-size: 18pt;
}

.input-message{
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 2000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 150px;
    padding-bottom: 50px;
}

input , input:focus{
    width: 1800px;
    margin: 10px;
    margin-right: 200px;
    border: none;
    outline: none;
    font-size: 15pt;
}

i:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

i:active{
    transform: scale(0.9);
    transition: 0.2s;
}

.oglas{
    background-color:rgb(241, 241, 241);
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    color: rgb(11, 135, 237);
}

@media screen and (max-height:1080px){
    .input-message{
        bottom: 30px;
    }
    .messages{
        padding-bottom: 200px;
    }
}

@media screen and (max-width:1920px){
    .input-message{
        padding-right: 220px;
    }
    input , input:focus{
        width: 1600px;
    }

}

@media screen and (max-width:1880px) {
    .messages{
        padding: 200px 200px 150px 150px;
    }
    .input-message{
     bottom: 60px;   
    }
    input , input:focus{
        width: 1500px;
        margin-right: 150px;
    }
    
}

@media screen and (max-width:1805px){
    .messages{
        padding: 200px 400px 150px 150px;
    }
    input , input:focus{
        width: 1300px;
    }

}
@media screen and (max-width:1600px){
    .messages{
        padding: 200px 600px 150px 150px;
    }
    input , input:focus{
        width: 1100px;
    }

}

@media screen and (max-width:1400px){
    .messages{
        padding: 200px 800px 150px 150px;
    }
    input , input:focus{
        width: 900px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 15pt;
    }
}

@media screen and (max-width:1200px){
    .messages{
        padding: 200px 1000px 150px 150px;
    }
    input , input:focus{
        width: 700px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 15pt;
    }
}

@media screen and (max-width:1000px){
    .messages{
        padding: 200px 1200px 150px 150px;
    }
    input , input:focus{
        width: 500px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 15pt;
    }
}

@media screen and (max-width:800px){
    .messages{
        padding: 200px 1400px 150px 150px;
    }
    input , input:focus{
        width: 300px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 13pt;
    }
}

@media screen and (max-width:600px){
    .messages{
        padding: 200px 1550px 150px 150px;
    }
    input , input:focus{
        width: 350px;
        margin-right: 0px;
        font-size: 13pt;
    }
    .in-msg-content, .out-msg-content{
        font-size: 12pt;
    }
    .input-message{
        bottom: 30px;
    }
}

@media screen and (max-width:440px){
    .messages{
        padding: 200px 1600px 150px 150px;
    }
    input , input:focus{
        width: 300px;
        font-size: 13pt;
        margin-right: 0px;
    }
    .input-message{
        bottom: 30px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 12pt;
        max-width: 80%;
    }
}

@media screen and (max-width:400px){
    .messages{
        padding: 200px 1600px 250px 150px;
    }
    input , input:focus{
        width: 300px;
        font-size: 13pt;
        margin-right: 0px;
    }
    .input-message{
        bottom: 100px;
    }
    .in-msg-content, .out-msg-content{
        font-size: 12pt;
        max-width: 80%;
    }
}