.container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border: 1px solid rgb(11, 135, 237);
    border-radius: 20px;
    width: 1700px;
    height: max-content;
}

a{
    text-decoration: none;
}

h1{
    color: rgb(11, 135, 237);
    font-weight: bold;
    margin-left: 400px;
}

.description-content{
    max-width: 800px;
    word-break: break-all;
    margin-left: 50px;
    text-align: left;
}

.mesto{
    display: flex;
    flex-direction: row;
    position: relative;
}

.sve-usluge, .archived{
    color: rgb(11, 135, 237);
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 200px;
    border-bottom: 2px solid rgb(11, 135, 237);
    padding: 30px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    right: 100px;
}

.active{
    background-color: rgb(11, 135, 237);
    color: white;
    border-radius: 40px; 
    text-align: center;
    cursor: pointer;
    width: 300px;
}

.archived{
    border: 2px solid rgb(11, 135, 237);
    color: rgb(11, 135, 237);
    border-radius: 40px; 
    text-align: center;
    cursor: pointer;
    width: 300px;
}

.archived:hover, .active:hover{
    background-color: rgb(75, 168, 245);
    color: white;
}

.oglasi{
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
}

.oglasi::-webkit-scrollbar{
    display: none;
}

.oglas{
    border: 1px solid rgb(11, 135, 237);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105em;
    height: 10em;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.oglas i{
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.slika img{
    width: 250px;
    border-radius: 8px 0px 0px 8px;
    height: 9.9em;
}

.dropdown-content{
    display: none;
    background-color: rgb(11, 135, 237);
    z-index: 10;
    position: relative;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgb(10, 116, 202)č
}

.show {
    display:block;
    margin-right: 100px;
}

@media screen and (max-width: 1640px){
    .container{
        width: 80em;
    }
    .oglasi, .oglas{
        width: 73em;
    }
    h1{
        font-size:17pt;
    }
    h2, h3{
        font-size: 15pt;
    }
    .description-content{
        max-width: 35em;
    }
}

@media screen and (max-width: 1230px){
    .container{
        width: 70em;
    }
    .oglasi, .oglas{
        width: 63em;
    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 13pt;
    }
    .active,.archived{
        width: 200px;
    }
    .description-content{
        max-width: 30em;
        font-size: 10pt;
    }
}

@media screen and (max-width: 1090px){
    .container{
        width: 60em;
    }
    .oglasi, .oglas{
        width: 53em;
    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 13pt;
    }
    .active,.archived{
        width: 200px;
    }
    .description-content{
        max-width: 25em;
        margin-left: 10px;
        font-size: 10pt;
    }
    .mesto{
        margin-right: 20px;
    }
}

@media screen and (max-width: 930px){
    .container{
        width: 50em;
    }
    .oglasi, .oglas{
        width: 43em;
    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 13pt;
    }
    .active,.archived{
        width: 200px;
    }
    .description-content{
        max-width: 22em;
        font-size: 10pt;
    }
    .mesto{
        margin-right: 20px;
    }
}

@media screen and (max-width: 780px){
    .container{
        width: 800px;
        padding-top: 50px;
        overflow: hidden;
    }
    .oglasi{
        width: 53em;
        margin: 0px;
        height: 700px;
    }
    .oglas{
        width: 50em;
        margin: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 12pt;
    }
    .active,.archived{
        width: 150px;
    }
    .description-content{
        max-width: 22em;
        font-size: 10pt;
    }
    .mesto{
        margin-right: 20px;
    }
}

@media screen and (max-width: 730px){
    .container{
        width: 600px;
        padding-top: 50px;
        overflow: hidden;
    }
    .oglasi{
        width: 40em;
        margin: 0px;
        height: 700px;
    }
    .oglas{
        width: 37em;
        margin: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 12pt;
    }
    .active,.archived{
        width: 150px;
    }
    .description-content{
        max-width: 22em;
        max-height: 1em;
        font-size: 10pt;
    }
    .mesto{
        margin-right: 20px;
    }
}

@media screen and (max-width: 625px){
    .container{
        width: 550px;
        padding-top: 50px;
        overflow: hidden;
    }
    .oglasi{
        width: 40em;
        margin: 0px;
        height: 700px;
    }
    .oglas{
        width: 37em;
        margin: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    h1{
        font-size:15pt;
    }
    h2, h3{
        font-size: 12pt;
    }
    .active,.archived{
        width: 150px;
    }
    .description-content{
        max-width: 22em;
        max-height: 1em;
        font-size: 10pt;
    }
    .mesto{
        margin-right: 20px;
    }
}

@media screen and (max-width: 430px){
    .container{
        width: 420px;
        padding-top: 50px;
        overflow: hidden;
    }
    .buttons{
        right: 10px;
    }
    .oglasi{
        width: 27em;
        margin: 0px;
        height: 700px;
    }
    .oglas{
        width: 25em;
        height: 100px;
        margin: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .buttons{
        gap: 0px;
    }
    h1{
        font-size:12pt;
    }
    h2, h3{
        font-size: 12pt;
    }
    .active,.archived{
        width: 130px;
        background-color: transparent;
        border: none;
        color: rgb(78, 170, 245);
    }
    .description-content{
        display: none;
    }
    .mesto{
        margin-top: -10px;
    }
    .slika img{
        width: 120px;
        height: 99px;
    }
}

@media screen and (max-width: 360px){
    .container{
        width: 325px;
        padding-top: 50px;
        overflow: hidden;
        margin: 0px;
    }
    .header{
        padding-left: 30px;
    }
    .oglasi{
        width: 400px;
        margin: 0px;
        height: 700px;
    }
    .oglas{
        width: 290px;
        height: 70px;
        margin: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h1{
        font-size:12pt;
    }
    h2, h3{
        font-size: 10pt;
    }
    .active,.archived{
        display: none;
    }
    .description-content{
        display: none;
    }
    .mesto{
        margin-right: 0px;
        margin-top: -20px;
    }
    .slika img{
        width: 100px;
        height: 69px;
    }
}