.container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgb(11, 135, 237);
    border-radius: 10px;
    width: 1600px;
    height: 850px;
    margin-top: 20px;
    padding-left: 50px;
}

.input-images-box{
    width: 200px;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    cursor: pointer;
    object-fit: cover;
}

a{
    z-index: 1;
    text-decoration: none;
}

.jobImage {
    width: 200px;   
    height: 200px;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 20px;
    object-fit:cover;
  }

p{
    margin-top: -25px;
}

h2{
    color: rgb(11, 135, 237);
    font-weight:bold ;
}

#images{
    opacity: 0;
    height: 0;
}

.info input , .info input:focus{
    border: 2px solid rgb(11, 135, 237);
    border-radius: 10px;
    width: 400px;
    height: 40px;
    font-size: 15pt;
    outline: none;
}

textarea, textarea:focus{
    outline: none;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 10px;
}

select , select:focus, option , option:focus{
    background-color: white;
    font-size: 15pt;
    color: rgb(11, 135, 237);
    border: 2px solid rgb(11, 135, 237);
    border-radius: 10px;
    width: 400px;
    height: 40px;
}

#result{
    display: flex;
}

.jobImage{
    height: 198px;
    margin:0px 5px;
}

.potvrdi{
    float: right;
    background-color: rgb(11, 135, 237);
    border: 2px solid rgb(11, 135, 237);
    border-radius: 20px;
    font-size: 20pt;
    color:white;
    padding: 10px;
    width: max-content;
}

.input-images{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

