body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

a{
    text-decoration: none;
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: grid;
    grid-template-columns: 700px 700px;
    grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.job-settings, .profile-settings, .notifications, .log-out{
    background-color: rgba(224, 224, 224, 0.863);
    color: rgb(11, 135, 237);
    padding: 20px;
    border-radius: 20px;
    height: 350px;
}

h2{
    font-weight: bold;
}

h3{
    display: inline;

}