body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

a{
    text-decoration: none;
}

.modal{
    display: none;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modalContent{
    display: flex;
    flex-direction: column;
    width: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border: 2px solid rgb(11, 135, 237);
    border-radius: 20px;
    padding: 30px;
    font-size: 18pt;
    text-align: center;
}

#close{
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
}

#close2, #close3{
    background-color: rgb(11, 135, 237);
    color: white;
    cursor: pointer;
    font-size: 18pt;
    width: 200px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    display: block;
}

.cancel{
    display: inline-block;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-top:50px;
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: grid;
    grid-template-columns: 700px 700px;
    grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.job-settings, .profile-settings, .notifications, .delete{
    background-color: white;
    border: 1px solid rgb(11, 135, 237);
    color: rgb(11, 135, 237);
    padding: 20px;
    border-radius: 20px;
    height: 350px;
}

h2{
    font-weight: bold;
}

h3{
    display: inline;
    padding-bottom: 60px;
}


@media screen and (max-width: 1530px){
    .container{
        grid-template-columns: 600px 600px;
        grid-row: auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 250px;
    }

}

@media screen and (max-width: 1320px){
    .container{
        grid-template-columns: 500px 500px;
        grid-row: auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }

}

@media screen and (max-width: 1160px){
    .container{
        grid-template-columns: 450px 450px;
        grid-row: auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 250px;
    }

}

@media screen and (max-width: 1160px){
    .container{
        grid-template-columns: 400px 400px;
        grid-row: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 250px;
    }

    h1{
        font-size: 18pt;
    }
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 12pt;
    }

}

@media screen and (max-width: 880px){
    .container{
        grid-template-columns: 350px 350px;
        grid-row: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 200px;
    }
}

@media screen and (max-width: 760px){
    .container{
        grid-template-columns: none;
        grid-row: auto auto;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin-top: 50px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 150px;
        width: 450px;
    }

    h1{
        font-size: 18pt;
    }
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px){
    .container{
        grid-template-columns: none;
        grid-row: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }

    .job-settings, .profile-settings, .notifications, .delete{
        height: 150px;
        width: 300px;
    }

    h1{
        font-size: 15pt;
    }
    h2{
        font-size: 12pt;
    }
    h3{
        font-size: 10pt;
    }

}