.sidebar{
    position: absolute;
    right: 0;
    transition: 0.5s;
}

.sidebarIcon:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.sidebarIcon:active{
    transform: scale(0.9);
    transition: 0.3s;
}


.sidebar-content{
    list-style: none;
    background-color:rgb(11, 135, 237);
    margin-top: 4em;
    padding-top: 20px;
    z-index: 1;
    display: none;
    text-align: justify;
    height: 2000px;
    transition:  0.5s;
    overflow-x: hidden;
}

.sidebar-content li{
    cursor: pointer;
    text-align: left;
    width: 500px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-left: -50px;
    padding-top:5px;
    padding-left: 20px;
}

.sidebar-content-open{
    display: block;
    width: 300px;
}

.sidebar-link{
    text-decoration: none;
    color: white;
    font-size: 15pt;
    transition: 0.3s; 
}

.sidebar-content li:hover{
    background-color:rgb(8, 96, 167);
}