.container{
    width: 900px;
    height: 600px;
    background-color: white;
    border: 1px solid rgb(11, 135, 237);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: rgb(11, 135, 237);
}

.image{
    margin-left: 380px;
    font-size: 50pt;
}

.main{
    text-align: center;
    margin-top: 100px;
}

p{
    font-size: 18pt;
}

input[type=text], input[type=text]:focus {
    font-size: 70pt;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(11, 135, 237);
    border-radius: 10px;
    outline: none;
}

.button input[type=submit]{
    font-size: 18pt;
    background-color: rgb(11, 135, 237);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer; 
    margin-top: 30px;   
}

input[type=submit]:hover{
    background-color: rgb(11, 112, 196);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

@media screen and (max-width:980px){
    .container{
        width: 600px;
        height: 550px;
    }
    input[type=text], input[type=text]:focus {
        font-size: 60pt;
        width: 80px;
    }
    .image{
        margin-left: 230px;
        font-size: 50pt;
    }
    .main{
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width:780px){
    .container{
        width: 600px;
        height: 400px;
    }
    .image{
        margin-left: 280px;
        font-size: 20pt;
    }
    .main{
        text-align: center;
        margin-top: 20px;
    }
    input[type=text], input[type=text]:focus {
        font-size: 50pt;
        width: 80px;
    }
    .button input[type=submit]{
        font-size: 15pt;
        margin-top: 20px;  
    }
}

@media screen and (max-width:680px){
    .container{
        width: 500px;
        height: 400px;
    }
    .image{
        margin-left: 230px;
        font-size: 20pt;
    }
    .main{
        text-align: center;
        margin-top: 20px;
    }
    input[type=text], input[type=text]:focus {
        font-size: 40pt;
        width: 70px;
    }
    .button input[type=submit]{
        font-size: 17pt;
        padding: 5px;
        margin-top: 20px;  
    }
}

@media screen and (max-width:580px){
    .container{
        width: 400px;
        height: 400px;
    }
    .image{
        margin-left: 180px;
        font-size: 20pt;
    }
    .main{
        text-align: center;
        margin-top: 20px;
    }
    input[type=text], input[type=text]:focus {
        font-size: 35pt;
        width: 50px;
    }
    .button input[type=submit]{
        font-size: 17pt;
        padding: 5px;
        margin-top: 20px;  
    }
}

@media screen and (max-width:480px){
    .container{
        width: 300px;
        height: 400px;
    }
    .image{
        margin-left: 130px;
        font-size: 20pt;
    }
    .main{
        text-align: center;
        margin-top: 20px;
    }
    input[type=text], input[type=text]:focus {
        font-size: 30pt;
        width: 40px;
    }
    .button input[type=submit]{
        font-size: 16pt;
        padding: 5px;
        margin-top: 20px;  
    }
}