{% include ('navbar.html') %}

<link rel="stylesheet" href="/light/css/messages.css?v=3.0">

<div class="chat">
    <div class="chat-header">
        <div class="username">
            <img src="/{{ job.user().profilePicture ?? 'light/img/profile.png' }}" class="pfp">
            <h3>{{ job.user().firstName }} {{ job.user().lastName }}</h3>
        </div>
        <div class="oglas">
            <h3>{{ job.name }} |</h3>
            <h3>{{ job.location }} <i class="fa-solid fa-location-dot fa-l" style="color: rgb(11, 135, 237)"></i></h3>
        </div>
    </div>
    <div class="messages"></div>
    <div class="input-message">
        <input type="text" placeholder="Ukucaj poruku" name="message" id="message" onkeypress="sendMessageOnEnter(event)">
        <a href="#send-message" onclick="sendMessage();"><i class="fa-regular fa-paper-plane fa-xl" style="color: #0b87ed;"></i></a>
    </div>
</div>

<script>
    function sendMessageOnEnter(e){
        if(e.keyCode === 13){
            e.preventDefault();
            sendMessage();
        }
    }

    function sendMessage(){
        event.preventDefault();
        var messageText = document.getElementById('message').value;
        messageText.trim();
        if(messageText.replace(/\s/g, '').length){
            axios.post('/chat/{{ chatId }}/{{ job.id }}', 
            new URLSearchParams({
                'message': messageText
            })).then(response =>{
                if('{{ chatId }}' === 'index'){
                    window.location.href = response.data.redirect_location;
                }
                fetchMessages();
                document.getElementById('message').value = '';
                
            });
        }
    }

    function fetchMessages() {
        axios.get('/chat/{{ chatId }}/messages')
        .then(response => {
            const messagesContainer = document.querySelector('.messages');
            const chat = document.querySelector('.chat');
            messagesContainer.innerHTML = '';
            response.data.forEach(message => {
                const messageClass = message.values.user_id == '{{ session.get("user") }}' ? 'outgoing-message' : 'incoming-message';
                let senderPFP = message.values.user_id == '{{ user1.id }}' ? '{{ user1.profilePicture }}' : '{{ user2.profilePicture }}';
                senderPFP = senderPFP ? senderPFP : 'light/img/profile.png';
                const html = `
                    <div class="${messageClass}">
                        <img src="/${senderPFP}" class="pfp">
                        <div class="out-msg-content">
                            ${message.values.message}
                            <h6>${message.values.created_at.substring(10, 16)}</h6>
                        </div>
                    </div>
                `;
                messagesContainer.innerHTML += html;
            });
            chat.scrollTo(0, chat.scrollHeight);
        });
    }
    setInterval(fetchMessages, 3000);
    window.onload = function() {
        fetchMessages();
    };
</script>