{% include('navbar.html') %}
<link rel="stylesheet" href="/light/css/editProfile.css">
<div class="container">
    <div class="left">
        <img src="/light/img/profile.png" class="pfp">
        <h1>Pragan Detrovic</h1>
    </div>
    <div class="linija"></div>
    <div class="right">
        <form action="">
            <label for="ime">Ime <input type="text" id="ime"></label>
            
            <label for="prezime">Prezime <input type="text" id="prezime"></label>
           
            <label for="email">Email <input type="email" id="email"></label>
            
            <label for="password">Lozinka <input type="password" id="password"></label>
            <label for=""><input type="submit" value="Sačuvaj izmene" ></label>
        </form>
    </div>
</div>