{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/index.css?v=3.0">


<div class="container">
    <form action="/search/results">
        <div id="search-container">
            <div class="usluga">
                <div class="usluga-label">
                    <label>Šta</label>
                </div>
                <div class="usluga-search">
                    <input type="text" class="search" placeholder="Naziv usluge, ključne reči" name="oglas">
                    <span class="ikonica">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="none" aria-hidden="true">
                            <path fill="#767676" fill-rule="evenodd"
                                d="M11.4038 12.3048C10.7084 12.7451 9.88397 13 9 13c-2.48528 0-4.5-2.0147-4.5-4.5C4.5 6.01472 6.51472 4 9 4c2.4853 0 4.5 2.01472 4.5 4.5 0 .87711-.2509 1.6956-.6849 2.3876l3.5089 3.5089c.1952.1953.1952.5119 0 .7071l-.7071.7072c-.1953.1952-.5119.1952-.7071 0l-3.506-3.506zM11.5 8.5c0 1.38071-1.1193 2.5-2.5 2.5-1.38071 0-2.5-1.11929-2.5-2.5S7.61929 6 9 6c1.3807 0 2.5 1.11929 2.5 2.5z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="usluga">
                <div class="usluga-label">
                    <label>Gde</label>
                </div>
                <label for="listaGradova" class="mestoSearch">Izaberi grad</label>
                <select name="mesto" id="listaGradova">
                    <option selected></option>
                    <option value='Ada'>Ada</option>
                    <option value='Aleksinac'>Aleksinac</option>
                    <option value='Apatin'>Apatin</option>
                    <option value='Arilje'>Arilje</option>
                    <option value='Avala'>Avala</option>
                    <option value='Backa Topola'>Bačka Topola</option>
                    <option value='Backi Jarak'>Bački Jarak</option>
                    <option value='Backi Petrovac'>Bački Petrovac</option>
                    <option value='Backo Gradiste'>Bačko Gradiste</option>
                    <option value='Banatsko Novo Selo'>Banatsko Novo Selo</option>
                    <option value='Barajevo'>Barajevo</option>
                    <option value='Basaid'>Bašaid</option>
                    <option value='Batajnica'>Batajnica</option>
                    <option value='Becej'>Becej</option>
                    <option value='Belgrade'>Beograd</option>
                    <option value='Bocar'>Bočar</option>
                    <option value='Bor'>Bor</option>
                    <option value='Cantavir'>Čantavir</option>
                    <option value='Coka'>Čoka</option>
                    <option value='Cukarica'>Čukarica</option>
                    <option value='Cuprija'>Ćuprija</option>
                    <option value='Debeljaca'>Debeljača</option>
                    <option value='Despotovac'>Despotovac</option>
                    <option value='Dolovo'>Dolovo</option>
                    <option value='Drenovac'>Drenovac</option>
                    <option value='Futog'>Futog</option>
                    <option value='Glozan'>Glozan</option>
                    <option value='Golubinci'>Golubinci</option>
                    <option value='Gornji Milanovac'>Gornji Milanovac</option>
                    <option value='Grocka'>Grocka</option>
                    <option value='Ingija'>Ingija</option>
                    <option value='Izvor'>Izvor</option>
                    <option value='Jagodina'>Jagodina</option>
                    <option value='Kacarevo'>Kacarevo</option>
                    <option value='Kanjiza'>Kanjiža</option>
                    <option value='Kovin'>Kovin</option>
                    <option value='Kragujevac'>Kragujevac</option>
                    <option value='Kraljevo'>Kraljevo</option>
                    <option value='Leskovac'>Leskovac</option>
                    <option value='Loznica'>Loznica</option>
                    <option value='Melenci'>Melenci</option>
                    <option value='Nikinci'>Nikinci</option>
                    <option value='Nova Pazova'>Nova Pazova</option>
                    <option value='Novi Banovci'>Novi Banovci</option>
                    <option value='Novi Becej'>Novi Bečej</option>
                    <option value='Novi Belgrade'>Novi Beogradde</option>
                    <option value='Novi Pazar'>Novi Pazar</option>
                    <option value='Novi Sad'>Novi Sad</option>
                    <option value='Odzaci'>Odžaci</option>
                    <option value='Palic'>Palić</option>
                    <option value='Paracin'>Paraćin</option>
                    <option value='Petrovac'>Petrovac</option>
                    <option value='Petrovaradin'>Petrovaradin</option>
                    <option value='Pirot'>Pirot</option>
                    <option value='Popovac'>Popovac</option>
                    <option value='Priboj'>Priboj</option>
                    <option value='Prokuplje'>Prokuplje</option>
                    <option value='Ratkovo'>Ratkovo</option>
                    <option value='Ruma'>Ruma</option>
                    <option value='Rumenka'>Rumenka</option>
                    <option value='Savski Venac'>Savski Venac</option>
                    <option value='Selo Mladenovac'>Selo Mladenovac</option>
                    <option value='Senta'>Senta</option>
                    <option value='Sibac'>Sibač</option>
                    <option value='Simanovci'>Šimanovci</option>
                    <option value='Sirig'>Sirig</option>
                    <option value='Smederevo'>Smederevo</option>
                    <option value='Sombor'>Sombor</option>
                    <option value='Srbobran'>Srbobran</option>
                    <option value='Sremcica'>Sremčica</option>
                    <option value='Sremska Kamenica'>Sremska Kamenica</option>
                    <option value='Sremska Mitrovica'>Sremska Mitrovica</option>
                    <option value='Sremski Karlovci'>Sremski Karlovci</option>
                    <option value='Stara Pazova'>Stara Pazova</option>
                    <option value='Stari Banovci'>Stari Banovci</option>
                    <option value='Subotica'>Subotica</option>
                    <option value='Surcin'>Surčin</option>
                    <option value='Svilajnac'>Svilajnac</option>
                    <option value='Svrljig'>Svrljig</option>
                    <option value='Temerin'>Temerin</option>
                    <option value='Titel'>Titel</option>
                    <option value='Tornjos'>Tornjoš</option>
                    <option value='Ugrinovci'>Ugrinovci</option>
                    <option value='Umcari'>Umčari</option>
                    <option value='Umka'>Umka</option>
                    <option value='Vajska'>Vajska</option>
                    <option value='Valjevo'>Valjevo</option>
                    <option value='Veternik'>Veternik</option>
                    <option value='Vrbas'>Vrbas</option>
                    <option value='Zajecar'>Zaječar</option>
                    <option value='Zemun Polje'>Zemun Polje</option>
                    <option value='Zlatibor'>Zlatibor</option>
                    <option value='Zrenjanin'>Zrenjanin</option>
                </select>
                <span class="ikonica">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" aria-hidden="true"
                        style="float:right;">
                        <path fill="#767676" fill-rule="evenodd"
                            d="M5.81104 8.2c0-2.322 1.87303-4.2 4.18889-4.2 2.31587 0 4.18887 1.878 4.18887 4.2 0 2.581-2.8123 6.1691-3.8282 7.3811-.1906.2274-.5307.2274-.72131 0C8.62332 14.3691 5.81104 10.781 5.81104 8.2zm4.1889 2.0029c1.10456 0 1.99996-.89545 1.99996-2.00002 0-1.10457-.8954-2-1.99996-2-1.10457 0-2 .89543-2 2s.89543 2.00002 2 2.00002z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
            </div>
        </div>
        <input type="submit" class="pretraga" value="Pretraga">
    </form>
</div>
</div>

<script defer src="/javascript/index-page.js?v=3.0">