{% include('navbar.html') %}

<div id="content-container">
    <div class="usluga-pop">
        <div>
            <img src="/light/img/MILER.jpg" alt="miler" class="cover-photo"> <br>
            <div class="content-usluga">
                <div class="username-pfp">
                    <img src="/light/img/profile.png" alt="" class="pfp">
                    <p class="username">Ninjalanik69</p>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor at consectetur aspernatur adipisci provident dolorem, eos quod quae deleniti, repudiandae fuga ratione, ullam iure illum sunt accusamus assumenda exercitationem!</p>
                <div class="username-pfp">
                    <i class="fa-sharp fa-solid fa-star fa-2xl" style="color: rgb(255, 217, 0); padding-left: 20px;" ></i> 
                    <p class="username">6.9</p>
                </div>
            </div>
        </div>
    </div>
        
</div>