{% include('navbar.html') %}


<div class="container">
    <div class="images-description">
        <div class="images">  </div>
        <div class="description"><i class="fa-solid fa-circle-info fa-2xl" style="color: rgb(11, 135, 237)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam labore dolore hic soluta explicabo nihil odit eos aut possimus tenetur iusto illum eius et natus voluptates, officia adipisci sunt?</div>
    </div>
    <div class="info">
        <h1>Lorem ipsum dolor sit </h1>
        <div class="userInfo">
            <i class="fa-solid fa-circle-user fa-2xl" style="color: rgb(11, 135, 237)"></i><h2>lorem ipsum</h2>
            <i class="fa-solid fa-location-dot fa-2xl" style="color: rgb(11, 135, 237)"></i><h2>lorem ipsum</h2>
        </div>
        <div class="rating"><i class="fa-solid fa-star fa-2xl" style="color: rgb(11, 135, 237)"></i> 4.7</div>
        <button><a href="#message">Pošalji poruku</a></button>
    </div>
    <div class="ocene">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae doloribus distinctio numquam suscipit esse et est? Blanditiis, quidem. Veritatis, quae sapiente est assumenda molestias quod. Tempora temporibus sequi doloremque officiis!
    </div>
</div>