{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/job.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="reviews-container">
    <h1><b>Ocene:</b></h1>
    <div class="review">
        <div class="review-info">
            <h3><i class="fa-solid fa-circle-user fa-xl" style="color: rgb(11, 135, 237)"></i> Dragan Šakić</h3>

        </div>
        <div class="review-content">
            <h3><i class="fa-solid fa-star" style="color: rgb(11, 135, 237)"></i> 4.7</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="review">
        <div class="review-info">
            <h3><i class="fa-solid fa-circle-user fa-xl" style="color: rgb(11, 135, 237)"></i> Mitar Mitrović</h3>
        </div>
        <div class="review-content">
            <h3><i class="fa-solid fa-star" style="color: rgb(11, 135, 237)"></i> 4.7</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="review">
        <div class="review-info">
            <h3><i class="fa-solid fa-circle-user fa-xl" style="color: rgb(11, 135, 237)"></i> Luka Lukić</h3>
        </div>
        <div class="review-content">
            <h3><i class="fa-solid fa-star" style="color: rgb(11, 135, 237)"></i> 4.7</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="review">
        <div class="review-info">
            <h3><i class="fa-solid fa-circle-user fa-xl" style="color: rgb(11, 135, 237)"></i> Nikola Rikić</h3>
        </div>
        <div class="review-content">
            <h3><i class="fa-solid fa-star" style="color: rgb(11, 135, 237)"></i> 4.7</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

<div class="wrapper">


    <div class="container">
        <div class="images-title">
            <div class="title">
                <h1>{{ job.name }} </h1>
            </div>

            <div class="slideshow-container">

                <div class="slide">
                    <div class="numbertext">1 / 3</div>
                    <img src="/light/img/salon.jpg" class="slideshow-item">
                </div>

                <div class="slide">
                    <div class="numbertext">2 / 3</div>
                    <img src="/light/img/background.png" class="slideshow-item">
                </div>

                <div class="slide">
                    <div class="numbertext">3 / 3</div>
                    <img src="/light/img/profile.png" class="slideshow-item">
                </div>

                <div class="arrows">
                    <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
                    <a class="next" onclick="plusSlides(1)"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
    
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                  </div>
            </div>

        </div>

        <div class="info">

            <div class="userInfo">
                <h2><i class="fa-solid fa-circle-user fa-xl" style="color: rgb(11, 135, 237)"></i> {{ user.firstName }}
                    {{ user.lastName }}</h2>
                <h2><i class="fa-solid fa-location-dot fa-xl" style="color: rgb(11, 135, 237)"></i> {{ job.location }}
                </h2>
                <h2><i class="fa-solid fa-star fa-xl" style="color: rgb(11, 135, 237)"></i> 4.7</h2>
            </div>
            <a href="#message" class="btnLink"><button>Pošalji poruku</button></a>
        </div>
    </div>
    <div class="ad-description">
        <p class="description"><i class="fa-solid fa-circle-info fa-2xl fa-pull-left"
                style="color: rgb(11, 135, 237)"></i>{{ job.description }}</p>
    </div>

</div>

<script src="/javascript/slideshow.js"></script>