{% extends 'navbar.html' %}

{% block body %}

<link rel="stylesheet" href="/light/css/login-register.css?v=3.0">
<script src="https://kit.fontawesome.com/0b0d98cfb6.js" crossorigin="anonymous"></script>
<div class="container">
    {% set errors = {'email' : session.getFlash('email'), 'password' : session.getFlash('password')} %}
    <div class="main">
        <form method="POST" action="/user/login">
            {{ session.csrf_token() }}
            <h1>Prijavite se</h1>
            <label for="email"><i class="fa-solid fa-envelope fa-xl" style="color: rgb(11, 135, 237);"></i><input
                    type="text" name="email" placeholder="Unesite E-mail" id="email"
                    class="{% if errors.email %}is-invalid{% endif %}"></label>
            <div class="invalid-feedback">
                {{errors.email}}
            </div>
            <label for="password"><i class="fa-solid fa-lock fa-xl" style="color: rgb(11, 135, 237);"></i><input
                    type="password" name="password" placeholder="Unesite lozinku"
                    class="password {% if errors.password %}is-invalid{% endif %}"></label>
            <div class="invalid-feedback">
                {{errors.password}}
            </div>
            <label class="showpas">Prikaži lozinku<input type="checkbox" class="pass" onclick="showPassword()"></label>
            <button>Prijavi me</button>
            <img src="/light/img/phone.png" class="image">
            <a href="/register" class="nalog">Nemate nalog? Registrujte se</a>
        </form>
    </div>
</div>

{% endblock %}