{% include ('navbar.html') %}

<link rel="stylesheet" href="/light/css/messages.css?v=2.0">

<div class="container">
    <div class="recent-messages">
        <h1>Poruke</h1>
        {% for chatRoom in chatRooms %}
            <a href="/chat/{{ chatRoom.id }}/{{ chatRoom.job().id }}">
                <div class="recent" id="active-chat">
                    <img src="/light/img/profile.png" class="pfp">
                    <h2>{{ chatRoom.job().name }}</h2>
                    <i class="fa-solid fa-circle" style="color: #0b87ed;"></i>
                </div>
            </a>    
        {% endfor %}
    </div>
</div>