{% extends 'navbar.html' %}

{% block title %}Moji oglasi - {{ parent() }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="/light/css/my-jobs.css?v=3.0">

<div class="container">
    <div class="header">
        <h1>Moje usluge:<h3> ({{ jobCount }})</h3></h1>
    </div>
    <div class="jobs-container">
        {% for job in jobs %}
        <div class="job-tab">
            <a href="/p/{{job.id}}">
                <img src="/{{ job.images()[0].imagePath }}" class="job-image">
                <div class="info">
                    <h1>{{ job.name }}</h1>
                    <p class="description-content">dasdasd</p>
                </div>
            </a>
                <h1><i class="fa-solid fa-location-dot" style="color: #0b87ed;"></i> Mesto <h1 class="dropbtn"><i class="fa-solid fa-ellipsis-vertical fa-xs" style="color: #0b87ed;"></i><ul class="dropdown-content">
                    <li><a href="/p/{job_id}/edit">Izmeni oglas</a></li>
                    <li><a href="#delete">Obriši oglas</a></li>
                </ul></h1></h1>
                
        </div> 
    
     
   
    {% endfor %}
</div>

</div> 

<script>
    function toggleDropdown() {
    document.getElementById("dropdown").classList.toggle("show");
}
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
    
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
        }
    }
</script>

{% endblock %}
