{% include('navbar.html') %}
<link rel="stylesheet" href="/light/css/my-jobs.css?v=2.0">

<div class="container">
    <div class="header">
        <div class="sve-usluge">
            <h2>Sve usluge:<h3> ({{ jobCount }})</h3>
            </h2>
        </div>
    </div>
    <div class="oglasi">
        {% for job in jobs %}
            <div class="oglas">
                <a href="/p/{{job.id}}">
                <div class="slika">
                    <img src="/{{ job.images()[0].imagePath }}">
                </div>
            </a>
                <a href="/p/{{job.id}}"><div class="description">
                    <h1>{{ job.name }}</h1>
                    <p class="description-content">{{ job.description }}</p>
                </div></a>
                <div class="mesto">
                    <h1><i class="fa-solid fa-location-dot" style="color: #0b87ed;"></i> {{ job.location }}</h1>
                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-2xl" style="color: #0b87ed;"></i></a>
        
                </div> 
            </div>
        {% endfor %}
    </div>
</div>