{% include('navbar.html') %}
<link rel="stylesheet" href="/light/css/my-jobs.css">

<div class="container">
    <div class="header">
        <div class="sve-usluge">
            <h2>Sve usluge:<h3> (3)</h3>
            </h2>
        </div>
        <div class="buttons">
            <div class="active"><a href="">
                    <h2>Aktivne usluge<h3> (3)</h3>
                    </h2>
            </div></a>
            <div class="archived"><a href="">
                    <h2>Arhivirane usluge<h3> (0)</h3>
                    </h2>
            </div></a>
        </div>
    </div>
    <div class="oglasi">
        {% for job in jobs %}
            <div class="oglas">
                <div class="slika">
                    <img src="/{{ job.images()[0].imagePath }}">
                </div>
                <div class="description">
                    <h1>{{ job.name }}</h1>
                    <p class="description-content">{{ job.description }}</p>
                </div>
                <div class="mesto">
                    <h1><i class="fa-solid fa-location-dot" style="color: #0b87ed;"></i> {{ job.location }}</h1>
                </div>
                <a href=""><i class="fa-solid fa-ellipsis-vertical fa-2xl" style="color: #0b87ed;"></i></a>
            </div>
        {% endfor %}
    </div>
</div>