<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/light/css/navbar.css?v=3.0">
    <link rel="stylesheet" href="/light/css/sidebar.css?v=3.0">
    <script src="/javascript/navbar.js?v=3.0"></script>
    <script>
        function showPassword(){
            let passwordInputs = document.getElementsByClassName("password");
            for(let password of passwordInputs){
                password.type = password.type === 'password' ? "text" : "password";
            }
        }
    </script>
    <script src="https://kit.fontawesome.com/0b0d98cfb6.js?id=1234" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css?id=1234">

</head>

<body>
    
    <div class="topnav" id="myTopnav">
        <a href="/"><img class="logo" src="/light/img/logo.png"></a>
    
    <span class="sidebar " id="sidebar">
        <span class="select">
            <a href="#" onclick="enableSidebar()" class="enableSidebar"><img src="/light/img/hamburger.png" class="sidebarIcon"></a>
        </span>
        <ul class="sidebar-content w3-animate-right">
            {% if isGuest %}
                <a href="/login" class="sidebar-link"><li><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Prijavi se</li></a>
                <a href="/register" class="sidebar-link"><li><i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Registruj se</li></a>
            {% else %}
                <a href="/user/profile" class="sidebar-link"><li><i class="fa-solid fa-user" style="color: #ffffff;"></i> Moj Profil</li></a>
                <a href="/chats" class="sidebar-link"><li><i class="fa-solid fa-comments" style="color: #ffffff;"></i> Poruke</li></a>
                <a href="/user/jobs" class="sidebar-link"><li><i class="fa-solid fa-folder-open"></i> Moji oglasi</li></a>
                <a href="/p/create" class="sidebar-link"><li><i class="fa-solid fa-circle-plus"></i> Postavi oglas</li></a>
                <a href="" onclick="event.preventDefault();document.getElementById('logout-form').submit();" class="sidebar-link"><li><i class="fa-solid fa-right-from-bracket fa-flip-horizontal" style="color: #ffffff;"></i> Odjavi se</li></a>
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
                    
                </form>
            {% endif %}
            
        </ul>
    </span>  
    </div>
</body>

</html>