<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/light/css/navbar.css">
    <link rel="stylesheet" href="/light/css/sidebar.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascript/navbar.js"></script>
    <script>
        function showPassword(){
            let passwordInputs = document.getElementsByClassName("password");
            for(let password of passwordInputs){
                password.type = password.type === 'password' ? "text" : "password";
            }
        }
    </script>
    <script src="https://kit.fontawesome.com/0b0d98cfb6.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    
    <div class="topnav" id="myTopnav">
        <a href="/"><img class="logo" src="/light/img/logo.png"></a>
    
    <span class="sidebar " id="sidebar">
        <span class="select">
            <a href="#" onclick="enableSidebar()"><img src="/light/img/hamburger.png" class="sidebarIcon"></a>
        </span>
        <ul class="sidebar-content w3-animate-right">
            {% if isGuest %}
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Prijavi se</a></li>
                <li><a href="/register"> Registruj se</a></li>
            {% else %}
                <li><a href="/user/profile"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Moj Profil</a></li>
                <li><a href="/messages/{{ session.get('user') }}"><i class="fa-solid fa-comments" style="color: #ffffff;"></i> Poruke</a></li>
                <li><a href="/user/jobs"><i class="fa-solid fa-folder-open"></i> Moji oglasi</a></li>
                <li><a href="/p/create"><i class="fa-solid fa-circle-plus"></i> Postavi oglas</a></li>
                <li><a href="" onclick="event.preventDefault();document.getElementById('logout-form').submit();"><i class="fa-solid fa-right-from-bracket fa-flip-horizontal" style="color: #ffffff;"></i> Odjavi se</a></li>
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
                    
                </form>
            {% endif %}
            
        </ul>
    </span>  
    </div>
</body>

</html>