<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/light/css/navbar.css">
    <link rel="stylesheet" href="/light/css/dropdown.css">
    <script src="/javascript/script.js"></script>
    <script src="/javascript/navbar.js"></script>
    <script src="https://kit.fontawesome.com/0b0d98cfb6.js" crossorigin="anonymous"></script>
    <title>Home</title>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    
    <div class="topnav" id="myTopnav">
        <a href="/"><img class="logo" src="/light/img/logo.png"></a>
        
        <!--
      Odradio sam vam celu dropdown mehaniku da ne morate da se jebete sa programiranjem
      Sad samo stilizujte
      Logika je u dropdown.js, style je u dropdown.css
      I ni slucajno ne sklanjaj onaj # kod a koji enable-uje dropdown
      Sjebe sve
    -->
    <span class="dropdown  " id="dropdown">
        <span class="select">
            <a href="#" onclick="enableDropdown()"><img src="/light/img/hamburger.png" class="sidebarIcon"></a>
        </span>
        <ul class="dropdown-content w3-animate-right">
            {% if isGuest %}
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Prijavi me</a></li>
            {% else %}
                <li><a href="/profile/1"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Moj Profil</a></li>
                <li><a href="/messages/{user_id}/"><i class="fa-solid fa-comments" style="color: #ffffff;"></i> Poruke</a></li>
                <li><a href="/profile/3/reviews"><i class="fa-sharp fa-solid fa-star" style="color: #ffffff;"></i> Moje ocene</a></li>
                <li><a href="#postjob"><i class="fa-solid fa-circle-plus"></i> Postavi oglas</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>Odjavi se</a></li>
            {% endif %}
            
        </ul>
    </span>  
    </div>
</body>

</html>