{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/post-job.css?v=1.0">
<div class="container">
    {% set errors = {'name' : session.getFlash('name'), 'location' : session.getFlash('location'), 'description' :
    session.getFlash('description'), 'image' : session.getFlash('image')} %}
    <form action="/p/store" method="POST" enctype="multipart/form-data" id="job-data-form">
        <div class="info">
            <label for="name">
                <h2>Naziv usluge:</h2>
            </label>
            <input type="text" name="name" id="title" class="{% if errors.name %}is-invalid{% endif %}">
            <div class="invalid-feedback">
                {{errors.name}}
            </div>
            <label for="location" class="mestoSearch">
                <h2>Mesto: </h2>
            </label>
            <input type="text" name="location" id="location" class="{% if errors.location %}is-invalid{% endif %}">
            <div class="invalid-feedback">
                {{errors.location}}
            </div>
            <label for="description">
                <h2>Opis: </h2>
            </label>
            <textarea name="description" id="description" cols="70" rows="8"
                class="{% if errors.description %}is-invalid{% endif %}" style="resize: none;"></textarea>
            <div class="invalid-feedback">
                {{errors.description}}
            </div>
        </div>
        <h2>Slike:</h2>
        <div class="invalid-feedback">
            {{errors.image}}
        </div>
        <div class="input-images">
            <div class="input-container">
                <input type="file" accept="image/jpg image/png image/jpg image/x-png*" class="images" id="image1" name="image1" onchange="previewImage(event, '1');" >
                <label for="image1" class="input-images-box {% if errors.image %}is-invalid{% endif %}" id="input-images-box">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i>
                </label>
                <div class="preview">
                    <img id="preview-selected-image1" />
                </div>
            </div>
            <div class="input-container">
                <input type="file" accept="image/jpg image/png image/jpg image/x-png" class="images" id="image2" name="image2" onchange="previewImage(event, '2');">
                <label for="image2" class="input-images-box {% if errors.image %}is-invalid{% endif %}" id="input-images-box">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i>
                </label>
                <div class="preview2">
                    <img id="preview-selected-image2"/>
                </div>
            </div>
            <div class="input-container">
                <input type="file" accept="image/jpg image/png image/jpg image/x-png" class="images" id="image3" name="image3" onchange="previewImage(event, '3');">
                <label for="image3" class="input-images-box {% if errors.image %}is-invalid{% endif %}" id="input-images-box">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i>
                </label>
                <div class="preview">
                    <img id="preview-selected-image3"/>
                </div>
            </div>
            <div class="input-container">
                <input type="file" accept="image/jpg image/png image/jpg image/x-png" class="images" id="image4" name="image4" onchange="previewImage(event, '4');">
                <label for="image4" class="input-images-box {% if errors.image %}is-invalid{% endif %}" id="input-images-box">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i>
                </label>
                <div class="preview">
                    <img id="preview-selected-image4"/>
                </div>
            </div>
            <div class="input-container">
                <input type="file" accept="image/jpg image/png image/jpg image/x-png" class="images" id="image5" name="image5" onchange="previewImage(event, '5');">
                <label for="image5" class="input-images-box {% if errors.image %}is-invalid{% endif %}" id="input-images-box">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i>
                </label>
                <div class="preview">
                    <img id="preview-selected-image5"/>
                </div>
            </div>

        </div>
        <input type="submit" value="Postavi uslugu" class="potvrdi">
    </form>
</div>

<script src="/javascript/showImage.js?id=1234"></script>