{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/post-job.css">
<div class="container">
    {% set errors = {'name' : session.getFlash('name'), 'location' : session.getFlash('location'), 'description' : session.getFlash('description')} %}
    <form action="/p/store" method="POST">
        <div class="input-images">
            <h2>Slike:</h2>
            <input type="file" accept="image/*" multiple id="images">
            <label for="images" class="input-images-box"><p>Max 5 slika</p><i class="fa-solid fa-circle-plus fa-2xl" style="color: #0b87ed;"></i></label>
        </div>
        
        <div class="info">
            <label for="name"><h2>Naziv usluge:</h2></label>
            <input type="text" name="name" id="title" class="{% if errors.name %}is-invalid{% endif %}">
            <div class="invalid-feedback">
                {{errors.name}}
            </div>
            <label for="location" class="mestoSearch"><h2>Mesto: </h2></label>
                    <select name="gradovi" id="location" class="{% if errors.location %}is-invalid{% endif %}">
                        <option selected></option>
                        <option value="beograd">Beograd</option>
                        <option value="bor">Bor</option>
                        <option value="valjevo">Valjevo</option>
                        <option value="vranje">Vranje</option>
                        <option value="vrsac">Vršac</option>
                        <option value="zajecar">Zaječar</option>
                        <option value="zrenjanin">Zrenjanin</option>
                        <option value="jagodina">Jagodina</option>
                        <option value="kikinda">Kikinda</option>
                        <option value="kragujevac">Kragujevac</option>
                        <option value="kraljevo">Kraljevo</option>
                        <option value="krusevac">Kruševac</option>
                        <option value="leskovac">Leskovac</option>
                        <option value="nis">Niš</option>
                        <option value="novi-pazar">Novi Pazar</option>
                        <option value="novi-sad">Novi Sad</option>
                        <option value="pancevo">Pančevo</option>
                        <option value="pirot">Pirot</option>
                        <option value="pozarevac">Požarevac</option>
                        <option value="pristina">Priština</option>
                        <option value="prokuplje">Prokuplje</option>
                        <option value="smederevo">Smederevo</option>
                        <option value="sombor">Sombor</option>
                        <option value="sremska-mitrovica">Sremska Mitrovica</option>
                        <option value="subotica" >Subotica</option>
                        <option value="uzice">Užice</option>
                        <option value="cacak">Čačak</option>
                        <option value="sabac">Šabac</option>
                    </select>
            <div class="invalid-feedback">
                {{errors.location}}
            </div>
            <label for="description"><h2>Opis: </h2></label>
            <textarea name="description" id="description" cols="70" rows="8" class="{% if errors.description %}is-invalid{% endif %}" style="resize: none;"></textarea>
            <div class="invalid-feedback">
                {{errors.description}}
            </div>
        </div>
        <input type="submit" value="Postavi uslugu" class="potvrdi">
    </form>
</div>