{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/profile.css">
<script src="https://kit.fontawesome.com/0b0d98cfb6.js" crossorigin="anonymous"></script>

<div class="container">
    <div class="username">
        <img src="/light/img/profile.png" width="120px">
        <h1>Korisnicko ime</h1>
    </div>


    <div class="oglas">
        <img src="/light/img/MILER.jpg" width="350px">
        <div class="info">
            <h2>Naslov oglasa</h2>
            <div class="description">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur beatae hic dignissimos atque animi. Rerum voluptas labore, explicabo voluptatibus dignissimos sapiente possimus temporibus obcaecati, ipsam odio totam minima adipisci et? lor</p>
                <div class="description-info">
                <h2><i class="fa-solid fa-location-dot fa-l" style="color: rgb(11, 135, 237)"></i> Subotica </h2>
                <a href="/messages/{user_id}/"><button>Posalji poruku</button></a>
            </div>
            </div>
        </div>
    </div>

    <div class="oglas">
        <img src="/light/img/MILER.jpg" width="350px">
        <div class="info">
            <h2>Naslov oglasa</h2>
            <div class="description">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur beatae hic dignissimos atque animi. Rerum voluptas labore, explicabo voluptatibus dignissimos sapiente possimus temporibus obcaecati, ipsam odio totam minima adipisci et? lore</p>
                <div class="description-info">
                <h2><i class="fa-solid fa-location-dot fa-l" style="color: rgb(11, 135, 237)"></i> Subotica </h2>
                <a href="/messages/{user_id}/"><button>Posalji poruku</button></a>
            </div>
            </div>
        </div>
    </div>




</div>
