{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/profile.css?v=2.0">
<script src="https://kit.fontawesome.com/0b0d98cfb6.js?v=2.0" crossorigin="anonymous"></script>


<div class="container">
    <div class="profile-settings">
       
        <h1> <i class="fa-solid fa-circle-user" style="color: #0b87ed;"></i>  Podešavanje naloga</h1>
        <a href="/user/profile/edit"><h2>Izmena podataka</h2></a>
        <h3>Ime, prezime, e-adresa, lozinka</h3>
    </div>
    <div class="job-settings">
        <h1><i class="fa-solid fa-folder-open" style="color: #0b87ed;"></i> Podešavanje usluga</h1>
        <a href="/user/jobs"><h2>Pregled usluga</h2></a>
        <h3>Pregled aktivnih i arhiviranih usluga</h3>
    </div>
    <div class="notifications">
        <h1><i class="fa-solid fa-bell" style="color: #0b87ed;"></i> Obaveštenja</h1>
        <a href="#notifications"><h2>E-mail obaveštenja</h2></a>
    </div>
    <div class="delete">
        <h1><i class="fa-solid fa-trash-can" style="color: #0b87ed;"></i> Brisanje naloga</h1>
        <a href="#" id="openModal"><h2>Obriši nalog</h2></a>
            <div class="modal" id="modal">
            <div class="modalContent">
                <i class="fa-solid fa-xmark" style="color: #1a55bc;" id="close"></i>
                <h3><b> Brisanjem naloga, svi vaši oglasi, recenzije i poruke biće obrisane!</b></h3>
                <h3><i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i> Da li ste sigurni? Ova radnja se ne može poništiti <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i></h3>
                <div class="buttons">
                <a href="" id="close2" onclick="event.preventDefault();document.getElementById('delete-form').submit();">Da, izbriši nalog</a>
                <button id="close3" type="button" class="cancel">Ne, otkaži</button>
                <form action="/user/delete" method="POST" style="display: none;" id="delete-form">
                </form>
            </div>
            </div>
        </div>
    </div>
    
</div>


<script src="/javascript/modal.js?id=1234"></script>