{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/profile.css">
<script src="https://kit.fontawesome.com/0b0d98cfb6.js" crossorigin="anonymous"></script>

<div class="container">
    <div class="profile-settings">
       
        <h1> <i class="fa-solid fa-circle-user" style="color: #0b87ed;"></i>  Podešavanje naloga</h1>
        <a href="/profile/{user_id}/edit"><h2>Izmena podataka</h2></a>
        <h3>Ime, prezime, e-adresa, lozinka</h3>
    </div>
    <div class="job-settings">
        <h1><i class="fa-solid fa-folder-open" style="color: #0b87ed;"></i> Podešavanje usluga</h1>
        <a href="#my-jobs"><h2>Pregled usluga</h2></a>
        <h3>Pregled aktivnih i arhiviranih usluga</h3>
    </div>
    <div class="notifications">
        <h1><i class="fa-solid fa-bell" style="color: #0b87ed;"></i> Obaveštenja</h1>
        <a href="#notifications"><h2>E-mail obaveštenja</h2></a>
    </div>
    <div class="log-out">
        <h1><i class="fa-solid fa-right-from-bracket" style="color: #0b87ed;"></i> Odjavite se</h1>
        <a href="" onclick="event.preventDefault();document.getElementById('logout-form').submit();"><h2>Odjavi se</h2></a>
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
    </div>
</div>
