{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/login-register.css?v=1.0">
<script src="https://kit.fontawesome.com/0b0d98cfb6.jsv=1.0" crossorigin="anonymous"></script>

<div class="container">
    {% set errors = {'firstName' : session.getFlash('firstName'), 'lastName' : session.getFlash('lastName'),
    'email' : session.getFlash('email'), 'password' : session.getFlash('password'), 'confirmPassword' :
    session.getFlash('confirmPassword')} %}
    <div class="mainRegister">
        <form action="/user/store" method="POST">
            <h1>Registrujte se</h1>
            <label for="ime"><i class="fa-solid fa-user fa-xl" style="color: rgb(11, 135, 237);"></i>
                <input class="{% if errors.firstName %}is-invalid{% endif %}" type="text" name="firstName"
                    placeholder="Unesite vaše ime" id="ime">
                <div class="invalid-feedback">
                    {{errors.firstName}}
                </div>
            </label>
            <label for="prezime"><i class="fa-solid fa-user fa-xl" style="color: rgb(11, 135, 237);"></i>
                <input class="{% if errors.lastName %}is-invalid{% endif %}" type="text" name="lastName"
                    placeholder="Unesite vaše prezime" id="prezime"></label>
            <div class="invalid-feedback">
                {{errors.lastName}}
            </div>
            <label for="email"><i class="fa-solid fa-envelope fa-xl" style="color: rgb(11, 135, 237);"></i>
                <input class="{% if errors.email %}is-invalid{% endif %}" type="text" name="email"
                    placeholder="Unesite E-mail" id="email"></label>

            <div class="invalid-feedback">
                {{errors.email}}
            </div>
            <label for="password"><i class="fa-solid fa-lock fa-xl" style="color: rgb(11, 135, 237);"></i>
                <input class="password {% if errors.password %}is-invalid{% endif %}" type="password" name="password"
                    placeholder="Unesite lozinku"></label>

            <div class="invalid-feedback">
                {{errors.password}}
            </div>
            <label for="password"><i class="fa-solid fa-lock fa-xl" style="color: rgb(11, 135, 237);"></i>
                <input class="password {% if errors.confirmPassword %}is-invalid{% endif %}" type="password"
                    name="confirmPassword" placeholder="Potvrdi lozinku" class="password"></label>
                    
            <div class="invalid-feedback">
                {{errors.confirmPassword}}
            </div>
            <label class="showpas">Prikaži lozinku<input type="checkbox" class="pass" onclick="showPassword()"></label>
            <img src="/light/img/laptop.png" class="image" style="width: 350px;">
            <button class="registruj-me">Registruj me</button> <br>
            <a href="/login" class="nalog">Već imate nalog? Prijavite se</a>
        </form>
    </div>
</div>