{% include('navbar.html') %}

<link rel="stylesheet" href="/css/login-register.css">
<div class="container">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form action="/user/store" method="POST">
                <label for="chk" aria-hidden="true">Registrujte se</label>
                <input type="email" name="email" placeholder="Unesite E-mail" class="">
                <input type="text" name="firstName" placeholder="Unesite vaše ime">
                <input type="text" name="lastName" placeholder="Unesite vaše prezime">
                <input type="password" name="password" placeholder="Unesite lozinku" class="password">
                <input type="password" name="confirmPassword" placeholder="Potvrdi lozinku" class="password">
                <label class="showpas">Prikaži lozinku<input type="checkbox" class="pass" onclick="showPassword()"></label>

                <button>Registruj me</button> <br>
                <a href="/login" class="nalog">Već imate nalog? Prijavite se</a>
            </form>
        </div>
    </div>
    
</div>