{% include('navbar.html') %}

<link rel="stylesheet" href="/light/css/search-results.css?v=1.0">
<script src="https://kit.fontawesome.com/0b0d98cfb6.js?v=1.0" crossorigin="anonymous"></script>

<div class="container">
    <div class="header">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass" style="color: #0b87ed;"></i>
            <label for="search-input"><input type="text" placeholder="Pretraga" id="search-input"></label>
        </div>
        <div class="city">
            <label for="listaGradova" class="mestoSearch"><i class="fa-solid fa-location-dot" style="color: #0b87ed;"></i> Izaberi grad</label>
                    <select name="gradovi" id="listaGradova" >
                        <option selected></option>
                        <option value="beograd">Beograd</option>
                        <option value="bor">Bor</option>
                        <option value="valjevo">Valjevo</option>
                        <option value="vranje">Vranje</option>
                        <option value="vrsac">Vršac</option>
                        <option value="zajecar">Zaječar</option>
                        <option value="zrenjanin">Zrenjanin</option>
                        <option value="jagodina">Jagodina</option>
                        <option value="kikinda">Kikinda</option>
                        <option value="kragujevac">Kragujevac</option>
                        <option value="kraljevo">Kraljevo</option>
                        <option value="krusevac">Kruševac</option>
                        <option value="leskovac">Leskovac</option>
                        <option value="nis">Niš</option>
                        <option value="novi-pazar">Novi Pazar</option>
                        <option value="novi-sad">Novi Sad</option>
                        <option value="pancevo">Pančevo</option>
                        <option value="pirot">Pirot</option>
                        <option value="pozarevac">Požarevac</option>
                        <option value="pristina">Priština</option>
                        <option value="prokuplje">Prokuplje</option>
                        <option value="smederevo">Smederevo</option>
                        <option value="sombor">Sombor</option>
                        <option value="sremska-mitrovica">Sremska Mitrovica</option>
                        <option value="subotica" >Subotica</option>
                        <option value="uzice">Užice</option>
                        <option value="cacak">Čačak</option>
                        <option value="sabac">Šabac</option>
                    </select>
        </div>
    </div>
    <div class="jobs-container">
        {% for job in searchResults %}
            <div class="job-tab">
                <img src="/{{ job.images()[0].imagePath }}" class="job-image">
                <div class="info">            
                    <h1>{{ job.name }}</h1>
                    <h2><i class="fa-solid fa-star" style="color: #0b87ed;"></i> 4.9</h2>
                    <a href="/messages/{user_id}" class="message">Pošalji poruku</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
  