{% include('navbar.html') %}
<link rel="stylesheet" href="/light/css/verify.css?v=2.0">

<div class="container">
    <h1 class="image"><i class="fa-solid fa-envelope-open-text fa-2xl" style="color: #0b87ed;"></i></h1>
    <div class="main">
        <h1>Proverite vaš Email</h1>
        <p>Jedinstveni verifikacioni kôd je poslat na vašu Email adresu</p>
        <h2>Unesite 6-cifreni kôd:</h2>
        <form action="">
            <input type="number" required>
            <input type="submit" value="Proveri">
        </form>
    </div>
</div>