.dropdown{
   position: relative;
   float: right;
   
}

.dropdown-content{
    list-style: none;
    background-color:rgb(11, 135, 237);
    position: absolute;
    top: 3em;
    margin-left: -150px;
    z-index: 1;
    display: none;
    border-radius: 10px;
    text-align: justify;
}

.dropdown-content li{
    margin: 0.3em 0;
    cursor: pointer;
    padding-top:5px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.dropdown-content-open{
    display: block;
    width: 10em;
}

.dropdown-content li a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
    
}

.dropdown-content li:hover{
    background-color:rgb(8, 96, 167);
}