body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    position: relative;
    background-image: linear-gradient(to right, rgb(138, 138, 138), white);
    width: 40%;
    width: 500px;
    height: 500px;

}

form{
    display: flex;
    flex-direction: column;
}