.profil{
    float: right;
    margin-top: 0.9rem;
    padding-right: 20px;
    width: 2.5rem;
    transition: 0.2s;
}

.profil:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.profil:active{
    transform: scale(0.9);
    transition: 0.2s;
}

.list{
    position: absolute;
    z-index: 99999;
    margin-left: 87%;
}

#list-items {
    margin-top: 4rem;
    display: none;
    position: relative;
    background-color: rgb(11, 135, 237);
    width: 10rem;
    border: solid 1px rgb(11, 135, 237);
    border-radius: 18px;
 }

 #list-items a {
    display: block;
    font-size: 18px;
    background-color: rgb(11, 135, 237);
    color: rgb(255, 255, 255);
    border: solid 1px rgb(11, 135, 237);
    border-radius: 18px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
 }

 #list-items a:hover{
    background-color: rgb(8, 103, 182);
 }