
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.usluga{
    letter-spacing: 1px;
    margin-top: 11rem;
    border: 1px solid rgb(11, 135, 237);
    color: rgb(11, 135, 237);
    border-radius: 10px;
    width: 30rem;
    padding-left: 10px;
    align-items: flex-start;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
 
}
.usluga-label{
    font-weight: 550;
    font-size: 15pt;
    
    
}
div.usluga-search{
   display: flex;
   align-items: center;
   margin: 0;
}


#search-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
input, label.search{
    height: 3em;
    text-align: left;
    color: rgb(100, 100, 100);
    width: 400px;
    outline: none;
    border:white;
    border-radius: 25px;
    font-size: 12pt;
}



.ikonica{
    margin-right: 10px;
    margin-top: 5px;
}



input.pretraga{
    letter-spacing: 1px;
    border: 1px solid rgb(11, 135, 237);
    background-color:rgb(11, 135, 237) ;
    color: white;
    border-radius: 10px;
    padding: 1em;
    margin-left: 0;
    transition: 0.2s;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
}

.pretraga:hover{
    background: #2566c8;
    transition: 0.2s;

}

input.search, label.serach{
    border: none;
    font-size: 12pt;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 5px;
    
}

input.search:focus{
    border: none;
    outline: none;
}

.mesto{
    letter-spacing: 1px;
    margin-top: 12.5rem;
   
    border: 1px solid rgb(11, 135, 237);
    color: rgb(11, 135, 237);
    border-radius: 10px;
    width: 30rem;
    padding: 1em;
    align-items: flex-end;
    
}

.mesto-label{
    display: inline;
    font-weight: 550;
    font-size: 15pt;
    

}

input.search, label.serach{
    border: none;
    font-size: 12pt;
    
}
input.search::placeholder, label.search{
    color: rgba(105, 105, 105, 0.4);
}

input.search:focus{
    border: none;
    outline: none;
}